<% @songs_grouped_by_year.each do |year, songs| %>
  <h3><%= year %></h3>
  <ul>
    <% songs.each do |song| %>
      <li><%= song.title %> - <%= link_to song.artist.name, '/artists/'+song.artist.id.to_s %></li>
    <% end %>
  </ul>
<% end %>
