<% @years.each do |year| -%>
  <h3><%= year %></h3>
  	<ul>
      <% @songs.where(year: year).each do |song| -%>
        <li><%= song.title %> - <%= song.artist %></li>
      <% end -%>
  </ul>
<% end -%>
test